{% extends "tpl.layout.html" %}
{% block content %}
  <div class="casaloma">
      <h1>Casa Loma</h1>
	  <img src ="/static/images/sights/casa-loma.jpg" alt="Casa Loma, Toronto" class="responsiveImage" width="730" height="494">

      <p>Standing in beautifully kept grounds, Casa Loma is an extraordinary building somewhat reminiscent of a medieval castle. It was originally constructed for Sir Henry Pellatt, an eccentric Canadian multi-millionaire who was among the first to recognize and exploit the money-making potential of Niagara Falls. With close to 100 rooms, including three dozen bathrooms, the house is now a museum. Visitors can take a look back in time to a period of European elegance and splendor. Canada's foremost castle is complete with decorated suites, secret passages, an 800-foot tunnel, towers, stables, and five acres of estate gardens.</p>
  </div>
{% endblock %}

