{% extends "tpl.layout.html" %}
{% block content %}
  <div class="cityhall">
      <h1>Toronto City Hall</h1>
	  <img src ="/static/images/sights/city-hall.jpg" alt="City Hall, Toronto" class="responsiveImage" width="730" height="475">

      <p>Dominating the spacious Nathan Philips Square with its bronze sculpture, "The Archer," by Henry Moore, is the still highly acclaimed new City Hall. It was designed by the gifted Finnish architect Viljo Revell and built in 1965. City Hall consists of two arc-shaped high-rise blocks, 20 and 27 stories high respectively, wrapped around a lower central building topped by a flattened cupola. Out front in the square is a manmade pond, which becomes a popular skating rink in winter. This area is beautifully decorated for the Christmas holidays.</p>
  </div>
{% endblock %}