{% extends "tpl.layout.html" %}
{% block content %}
  <div class="highpark">
      <h1>High Park</h1>
	  <img src ="/static/images/sights/highpark.jpg" alt="High Park, Toronto" class="responsiveImage" width="730" height="487">

      <p>High Park is a huge green space with sunken gardens, hanging basket gardens, nature trails, natural ponds, and streams. The 165-acre country property, originally owned by the Howards, was deeded to the City of Toronto in 1873. This deed included the fact that the park was to remain "for the free use, benefit and enjoyment of the citizens of Toronto and it be called High Park." Animal paddocks, swimming and wading pools, playgrounds, picnic areas, and a scenic train tour are highlights. The grounds also include 19th-century recreated gardens, a Coach House, and the Howards' Tomb.</p>

      <p>Annually, the Canadian Stage Company puts on a performance at the open-air theater in Toronto's High Park during the months of July and August, known as <strong>"Shakespeare in the Park"</strong></p>
  </div>
{% endblock %}