{% extends "tpl.layout.html" %}
{% block content %}
  <div class="rogerscentre">
      <h1> Rogers Centre</h1>
	  <img src ="/static/images/sights/rogers-center.jpg" alt=" Rogers Centre, Toronto" class="responsiveImage" width="730" height="480">

      <p>Immediately adjacent to the CN Tower is Rogers Centre, a massive domed sports arena. The unique design includes a roof, which slides back, allowing it to be opened in favorable weather. This mega-structure, completed in 1989, is Toronto's answer to the ambitious Olympic Stadium built by its arch rival, Montréal. Rogers Centre can accommodate many thousands of spectators and is a venue for every kind of sport, baseball and football in particular, as well as for rock and pop concerts. The center also offers one hour guided tours with a behind-the-scenes look at the facility.</p>
  </div>
{% endblock %}