{% extends "tpl.layout.html" %}
{% block content %}
  <div class="about">
      <h1>About Us</h1>
      <img src ="/static/images/about.jpg" alt="Scenic Toronto" />

      <p>Spanish Main jack grapple Admiral of the Black plunder Sea Legs code of conduct measured fer yer chains provost run a rig square-rigged. Knave Corsair come about brigantine cog skysail cable coxswain coffer Jack Tar killick. Barque sloop marooned holystone belay red ensign execution dock rope's end scurvy lugsail trysail.</p>

      <p>Arr jib overhaul cable chase spanker Shiver me timbers bowsprit port red ensign Yellow Jack. Cog nipper Jack Ketch driver league Buccaneer provost fire ship reef sails dead men tell no tales pressgang. Come about lee hands bilge water spirits heave down code of conduct bowsprit case shot heave to lad.</p>
  </div>
{% endblock %}

