{% extends "tpl.layout.html" %}
{% block content %}
  <div class="blog">
      <h1>Blog</h1>
      <img src ="/static/images/blog.jpg" alt="Scenic Toronto" />

      <p>Yellow Jack crow's nest deadlights galleon Admiral of the Black rum grog hail-shot chase bucko blow the man down. Hail-shot reef sails rigging jury mast yard measured fer yer chains league Admiral of the Black pressgang rope's end pinnace. Furl barque bilge rat lookout crack Jennys tea cup Yellow Jack Sail ho tackle killick spirits landlubber or just lubber.</p>

      <p>Clap of thunder reef sails keelhaul maroon prow squiffy trysail Yellow Jack tack swab brig. Salmagundi wench long clothes grapple Buccaneer gibbet ye overhaul yo-ho-ho topmast case shot. Lee long clothes mutiny yard lad gabion schooner bounty main sheet landlubber or just lubber driver.</p>
  </div>
{% endblock %}

