{% extends "tpl.layout.html" %}
{% block content %}
  <div class="home">
    <h1>Scenic Toronto App</h1>
    <h3>The Must See Places of Toronto!</h3>

    <img src="http://lorempixel.com/output/city-q-c-550-250-1.jpg" alt="Scenic Toronto" />
    <p>Blow the man down nipper measured fer yer chains gibbet bounty avast warp quarter cable cog Admiral of the Black. Plunder chandler clipper black jack grog blossom nipperkin nipper capstan trysail lateen sail gun. Flogging lugsail maroon long clothes knave Arr lee keel bilge rat come about capstan.</p>

    <p>Grog blossom stern American Main wherry Plate Fleet crow's nest lad heave to smartly cackle fruit ho list careen lateen sail. Bucko pink wherry run a shot across the bow cackle fruit boatswain rigging hardtack blow the man down come about Blimey bounty snow gaff. Red ensign driver dead men tell no tales gangway plunder topsail Spanish Main Admiral of the Black Barbary Coast loaded to the gunwalls provost haul wind hearties crimp.</p>
  </div>
{% endblock %}
