{% extends "tpl.layout.html" %}
{% block content %}
  <div class="rom">
      <h1>ROM - Royal Ontario Museum</h1>
	  <img src ="/static/images/sights/rom.jpg" alt="Royal Ontario Museum, Toronto" class="responsiveImage" width="730" height="487">

      <p>The Royal Ontario Museum, known as the ROM, is one of Canada's premier museums with an international reputation for excellence. It houses an outstanding collection and also features major exhibitions from around the world. A controversial expansion of the facility saw a modern wing featuring glass and sharp angles added on to a very traditional older building. The museum contains collections covering a great variety of periods from all over the world.</p>
  </div>
{% endblock %}