{% extends "tpl.layout.html" %}
{% block content %}
  <div class="torontoislands">
      <h1>Toronto Islands</h1>
	  <img src ="/static/images/sights/toronto-islands.jpg" alt="Toronto Islands" class="responsiveImage" width="730" height="553">

      <p>The ferry trip from Queen's Quay Terminal to the Toronto Islands, about a kilometer offshore, is the prelude to a thoroughly enjoyable outing. There are lovely walks on the islands as well as the opportunity for rowing, sailing, swimming, and other outdoor activities. Marinas and the odd cluster of weekend homes bring a touch of variety to the scene. In summer, the islands are the venue for numerous open-air events. In favorable visibility, there is a stunning view of the Toronto skyline. The Centreville Amusement Park is located on Centre Island, one of the Toronto Islands, and features a variety of children's rides. The Toronto Islands Ferry Service runs from Queen's Quay and travels to each of the main Toronto Islands.
	  </p>
  </div>
{% endblock %}