{% extends "tpl.layout.html" %}
{% block content %}
  <div class="ago">
      <h1>AGO - Art Gallery of Ontario</h1>
	  <img src ="/static/images/sights/ago.jpg" alt="Art Gallery of Ontario" class="responsiveImage" width="730" height="484">

      <p>The renowned Art Gallery of Ontario (AGO) occupies a unique looking modern building on the west side of the city center. A whole series of temporary exhibitions are mounted throughout the year by this exceptionally well endowed gallery. Highlights include the collections of Canadian, African and Oceanic, and European art. The museum also holds a particularly impressive collection of Canadian paintings.</p>
  </div>
{% endblock %}