{% extends "tpl.layout.html" %}
{% block content %}
  <div class="tours">
      <h1>Tours</h1>
      <img src ="/static/images/tours.jpg" alt="Scenic Toronto" />
      <p>Sink me poop deck chase guns nipperkin tender spanker dead men tell no tales tackle scourge of the seven seas keelhaul loaded to the gunwalls chase belay Letter of Marque. Handsomely piracy tack swing the lead mizzen warp coffer lee Chain Shot coxswain holystone strike colors chase guns Sink me. Spanker poop deck black spot fluke overhaul scuttle Sink me red ensign clipper broadside booty hail-shot carouser prow.</p>
      <p>Grog blossom stern American Main wherry Plate Fleet crow's nest lad heave to smartly cackle fruit ho list careen lateen sail. Bucko pink wherry run a shot across the bow cackle fruit boatswain rigging hardtack blow the man down come about Blimey bounty snow gaff. Red ensign driver dead men tell no tales gangway plunder topsail Spanish Main Admiral of the Black Barbary Coast loaded to the gunwalls provost haul wind hearties crimp.</p>
  </div>
{% endblock %}

