<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/app.css">

    <title>Scenic Toronto!</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}">Scenic Toronto</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
				<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
				

				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" href="{{ url_for('tours') }}" id="navbardrop" data-toggle="dropdown">
					Tours
				  </a>
				  <div class="dropdown-menu">
					<a class="dropdown-item" href="{{ url_for('cntower') }}">CN Tower</a>
					<a class="dropdown-item" href="{{ url_for('highpark') }}">High Park</a>
					<a class="dropdown-item" href="{{ url_for('cityhall') }}">City Hall</a>
					<a class="dropdown-item" href="{{ url_for('torontoislands') }}">Toronto Islands</a>
					<a class="dropdown-item" href="{{ url_for('casaloma') }}">Casa Loma</a>
					<a class="dropdown-item" href="{{ url_for('rogerscentre') }}">Rogers Centre</a>
					<a class="dropdown-item" href="{{ url_for('ago') }}">AGO</a>
					<a class="dropdown-item" href="{{ url_for('rom') }}">ROM</a>
				  </div>
				</li>
				
				
				

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li> 
              </ul>
            </div>  
    </nav>
    <br>
	
	

    <div class="container">
        {% block content %}  
        {% endblock %}
    </div>
	
	
	
	
	
<!-- Footer -->
<footer class="footer mt-auto py-3">
  <div class="container">

    <div class="footerTitle"><a href="{{ url_for('home') }}" class="link_no_underline">Scenic Toronto</a></div>  
  
    <p>Copyright &copy; 2015 ~ 2019 | This site is largely a rip of the excellent <a href="https://www.planetware.com/tourist-attractions-/toronto-cdn-on-ont.htm">PlanetWare</a> site, and is meant solely to demonstate a web coding portfolio of <a href="http://www.ryanhunter.org/">Ryan Hunter</a>.  This portfolio was built using the Python <a href="http://flask.pocoo.org/">Flask</a> framework, <a href="https://getbootstrap.com/">Bootstrap 4</a>, <a href="https://fonts.google.com/">Google Fonts</a>, <a href="https://fontawesome.com/">FontAwesome 4</a>, JavaScript, CSS, HTML5, and lots of love &#9825; &#9829;!!  
  </p>      
 </div>
</footer>
	
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    <script src="/static/js/app.js"></script>
  </body>
</html>